<div layout="row">
  <!-- Nav bar -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content class="md-padding">
      <md-button class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>
      <p hide show-gt-md>
        Transmisión 1
      </p>
    </md-content>
  </md-sidenav>

  <!-- Contenido -->
  <md-content layout="column" layout-fill>
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Transmisiones Anteriores</span>
      </h2>
    </md-toolbar>

    <!-- Video Tutorial -->
    <section layout-margin>
      <md-subheader class="md-primary"><h1>Tercera Reunión</h1></md-subheader>

      <md-tabs md-selected="0">
        <!-- Español -->
        <md-tab label="Español" layout="row" layout-margin>
          <iframe width="560" height="315" src="//www.youtube.com/embed/Ew_ANZDglFU" frameborder="0" allowfullscreen></iframe>
        </md-tab>
        <!-- Português -->
        <md-tab label="Português" layout="row" layout-margin>
          <iframe width="560" height="315" src="//www.youtube.com/embed/BrnnML3-KEE" frameborder="0" allowfullscreen></iframe>

        </md-tab>
      </md-tabs>
    </section>
  </md-content>
</div>




