<div layout="column" layout-align="center center">
  <p md>Bienvenidos, al Grupo Joven Latino Americano</p>
  <div layout="column">
    <md-button class="md-primary">primary</md-button>
    <md-button class="md-accent">accent</md-button>
    <md-button class="md-warn">warn</md-button>
    <md-button class="md-background">background</md-button>

    <md-toolbar>
      <h2>Toolbar</h2>
    </md-toolbar>
    <md-toolbar class="md-primary md-tall">
      <h2>Toolbar</h2>
    </md-toolbar>
    <md-toolbar class="md-accent">
      <h2>Toolbar</h2>
    </md-toolbar>
    <md-toolbar class="md-warn">
      <h2>Toolbar</h2>
    </md-toolbar>
    <md-toolbar class="md-hue-5">
      <h2>Toolbar</h2>
    </md-toolbar>

  </div>
</div>
