<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Grupo Joven Latino Americano</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <span ng-controller="AuthCtrl as auth" >
        <md-button ng-click="auth.singin = function () {

        };
        auth.singin()" ng-if="!vm.user">
          Entrar
        </md-button>
        <md-button ng-click="auth.logout()" ng-if="vm.user">
          salir
        </md-button>
      </span>

    </div>
  </md-toolbar>

  <!-- Login form -->




</div>
