  <!-- Contenido -->
  <md-content id="top" layout="column" layout-fill ng-controller="MediaCtrl as media">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- fill up the space between left and right area -->
        <span>
          <a href="#/grupojoven">Transmisiones Anteriores</a>
        </span>
      </div>
    </md-toolbar>

    <ng-include src="'views/grupojoven/common/sidenav.html'"></ng-include>
    <!-- Video Tutorial -->
    <section layout-margin>

      <!-- Transmisiones Anteriores -->
      <!-- Primera Reunión -->
      <section ng-if="media.active === 'segunda'" id="primera" layout-margin class="md-scroll-y">

        <md-subheader class="md-primary"><h1>Primera Reunión</h1></md-subheader>

        <md-tabs md-selected="0">
          <!-- Español -->
          <md-tab label="Español" layout="row" layout-margin>
            <iframe width="560" height="315" src="//www.youtube.com/embed/1daQHUgKh1g" frameborder="0" allowfullscreen></iframe>
          </md-tab>
          <!-- Português -->
          <md-tab label="Português" layout="row" layout-margin>
            <iframe width="560" height="315" src="//www.youtube.com/embed/8hLx7yvjxAk" frameborder="0" allowfullscreen></iframe>

          </md-tab>
        </md-tabs>
      </section>

    </section>
  </md-content>

