<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Grupo Joven Latino Americano</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <span ng-controller="RegisterCtrl as new" >
       <span ng-if="!vm.user">
         <a href="#/grupojoven">Volver</a>
       </span>
       <md-button ng-click="new.logout()" ng-if="vm.user">
         salir
       </md-button>
      </span>

    </div>
  </md-toolbar>
  <h1 class="md-headline"></h1>

  <!-- Login form -->
  <md-content layout-margin layout-padding>
    <md-card ng-controller="RegisterCtrl as new" ng-if="!vm.user">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Registro
        </h1>
      </md-toolbar>
      <md-content class="md-padding">
        <form name="registerForm" ng-submit="new.register(registerForm);">
          <md-input-container>
            <label>Correo Electrónico</label>
            <input md-maxlength="30" required name="email" type="email" ng-model="vm.register.email">
            <div ng-messages="registerForm.email.$error">
              <div ng-message="required">Este es requerido.</div>
              <div ng-message="email">Este es requerido.</div>
              <div ng-message="md-maxlength">El correo electrónico debe ser menor a 30 caracteres.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Contraseña</label>
            <input required name="password" type="password" ng-model="vm.register.password">
            <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Este es requerido.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Repetir contraseña</label>
            <input required name="password" type="password" ng-model="vm.register.passwordrepeated">
            <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Este es requerido.</div>
              <div ng-message="passwordverify">Debe ser igual a la contraseña.</div>
            </div>
          </md-input-container>
          <md-input-container layout-align="center center">
            <md-button class="md-raised md-primary" type="submit">Registrar</md-button>
          </md-input-container >
          <div ng-messages="registerForm.$error" class="md-input-invalid" layout-align="center center">
            <div ng-message="code" class="md-error">{{registerForm.$error.message}}</div>
          </div>
        </form>
      </md-content>
    </md-card>
  </md-content>

</div>
