<div layout="column" layout-fill>
  <ng-include src="'views/grupojoven/common/toolbar.html'"></ng-include>

  <!-- Register form -->
  <md-content layout-margin layout-padding class="reset-password-form center-form">
    <md-card ng-controller="ResetPasswordCtrl as access" ng-if="!vm.user">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Recordar contrasena
        </h1>
      </md-toolbar>
      <md-content class="md-padding">
        <form name="resetPasswordForm" ng-submit="access.reset(resetPasswordForm);">
          <md-input-container>
            <label>Correo Electrónico</label>
            <input md-maxlength="30" required name="email" type="email" ng-model="vm.user.email">
            <div ng-messages="resetPasswordForm.email.$error">
              <div ng-message="required">Este es requerido.</div>
              <div ng-message="email">Este es requerido.</div>
              <div ng-message="md-maxlength">El correo electrónico debe ser menor a 30 caracteres.</div>
            </div>
          </md-input-container>

          <md-input-container layout-align="center center">
            <md-button class="md-raised md-primary" type="submit">Recordar</md-button>
          </md-input-container >
          
          <div ng-messages="resetPasswordForm.$error" class="md-input-invalid" layout-align="center center">
            <div ng-message="code" class="md-error">{{resetPasswordForm.$error.message}}</div>
          </div>
        </form>
      </md-content>
    </md-card>
  </md-content>

</div>
