<md-toolbar>
  <h2 class="md-toolbar-tools">
    <span>Biblioteca</span>
  </h2>
</md-toolbar>
<section class="grid_outer">
  <md-content layout="vertical" layout-align="center center">

    <md-subheader><h1>Libros Publicados</h1></md-subheader>
    <md-list>

      <md-item ng-repeat="item in libros">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{item.img}}" class="face" alt="{{item.name}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.name}}</h3>
            <h4>{{item.author}}</h4>
            <a ng-href="{{item.url}}">Descargar</a>
            <p>
              {{item.description}}
            </p>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>

  </md-content>
</section>