<div layout="vertical" md-theme="light-blue-dark">
  <div>
    I'm above on tiny devices, and to the left on devices wider than 600px.
  </div>
  <div>
    I'm below on tiny devices, and to the right on devices wider than 600px.
  </div>

  <!-- The md-toolbar and all of its children will use the indigo theme -->
  <md-toolbar >

  </md-toolbar>

  <!-- The md-content and all of its children will use the green theme -->
  <md-content >

  </md-content>

  <!-- The button uses default-theme, since no md-theme is found -->
  <md-button>Hello</md-button>

</div>